/* Variables */

:root {
  --basic-black: #000000;
  --active-black: #161D29;
  --basic-red: #EE3643;
  --hover-red: #CA2C37;
  --active-red: #BA2732;
  --basic-gray: #F1F5F7;
  --active-gray: #C5C5C5;
  --basic-white: #ffffff;
  --text-neutral: #F3F7F9;
  --background-neutral-dark: #F2F6F8;
  --basic-neutral: #F9F5F0;
  --basic-neutral-dark: #F7F3EC;
  --basic-blue-dark: #293449;
  --basic-blue: #32425C;
  --active-blue: #1D2739;
  --icon-blue: #3D546F;
  --text-gray: #A9A9A9;
  --dark-gray: #98a0ad;
  --basic-orange: #FFBF47;
  --basic-blue-light: #3BBCE3;
  --basic-violet: #DC91D8;
  --basic-green-light: #8ED78F;
  --text-orange: #FFD180;
  --basic-green: #63A63E;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  --border-gray: #EAEAEA;
  --service-button: #405069;
  --social-button: #212A3A;
  --pagination-basic: #E5E5E5;
  --popup-neutral: #F4F4F4;
  --filter-line: #D7DCDE;
  --filter-line-green: #00CA74;
  --filter-toggle: #ABABAB;

  
  --background-slider: rgba(0, 0, 0, 0.25);
  --background--promo: rgba(255, 255, 255, 0.3);
  --active-buy: rgba(255, 255, 255, 0.5);
  --hover-promo: rgba(197, 197, 197, 0.3);
  --active-promo: rgba(169, 169, 169, 0.3);
  --logo-shadow: #B52933;
  --logo-shadow-hover: #8D1E26;
  --partners-shadow: rgba(0, 0, 0, 0.15);
  --sort-text: rgba(0, 0, 0, 0.3);
  --shadow-buy: #367315;
  --filter-toggle-shadow: rgba(171,171,171,0.3);
}

/* Global */

.page {
  height: 100%;
}

.page__body {
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-white);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.page__body h1,
.page__body h2,
.services__item h3 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue)
}

.page__body h1 {
  margin-bottom: 20px;
  padding: 30px;
  background-color: var(--background-neutral-dark);
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 25px 15px 25px 25px;
  background-color: var(--basic-neutral);
}

.title .button {
  display: inline-block;
  width: 192px;
  padding: 10px 0px;
  text-align: center;
}

.button {
  background-color: var(--basic-red);
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
  border: none;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
}

.new::after {
  content: 'new';
  position: absolute;
  top: 7px;
  right: -27px;
  display: flex;
  width: 100px;
  height: 30px;
  background: var(--basic-red);
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  transform: rotate(45deg);
}

.columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.columns__catalog {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__logo,
.footer__logo {
  position: relative;
  width: 220px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
}

.header__logo::before,
.footer__logo::before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 220px;
  height: 5px;
  background-color: var(--logo-shadow);
}

.header__logo::before {
  bottom: -5px;
}

.header__logo:active,
.footer__logo:active {
  background-color: var(--active-red);
}

.header__logo:active::before,
.footer__logo:active::before {
  background-color: var(--logo-shadow-hover);
}

.popup {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 25%;
  z-index: 10;
  margin: 0 auto;
  background-color: var(--basic-white);
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px var(--partners-shadow);
}

.popup__close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.popup__close::after,
.popup__close::before {
  content: "";
  position: absolute;
  top: 9px;
  right: -3px;
  width: 30px;
  height: 4px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
  border-radius: 5px;
}

.popup__close::before {
  transform: rotate(-45deg);
}

.input__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 0 80px;
}

.popup__writeus {
  width: 620px;
  height: 430px;
}

.popup__writeus p:not(:last-of-type) {
  margin: 40px 0 13px 0;
  padding: 0;
}

.popup__writeus p:last-of-type {
  margin: 0;
}

.popup__writeus label {
  display: block;
  margin-bottom: 10px;
}

.popup__writeus input,
.popup__writeus textarea {
  min-width: 220px;
  padding: 7px 8px 7px 12px;
  border: 2px solid var(--active-gray);
  box-sizing: border-box;
  border-radius: 2px;
}

.popup__writeus input::placeholder,
.popup__writeus textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--active-gray);
}

.popup__writeus textarea {
  width: 460px;
}

.popup__writeus .button {
  padding: 10px 11px;
}

.button__wrapper {
  padding: 37px 80px;
  background-color: var(--popup-neutral);
}

.button__wrapper .button {
  width: 100%;
}

.popup__map {
  width: 943px;
  height: 449px;
}

.popup__success {
  width: 620px;
  height: 283px;
}

.popup__success__wrapper {
  padding: 0 80px;
  margin: 67px 0;
}

.popup__success p {
  position: relative;
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-align: center;
}

.popup__success p::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon-success.svg);
}

.popup__success__button_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--popup-neutral);
  padding: 37px 113px;
}

.popup__success .button:first-child {
  padding: 10px 32px;
}

.popup__success .button:last-child {
  width: 192px;
  padding: 10px 32px;
}

.popup__success .button:last-child {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.popup__success .button:last-child:hover {
  color: var(--basic-red);
}

.popup__success .button:last-child:active {
  color: var(--active-gray);
}

.popup.active {
  display: block;
}

/* Header */

.header {
  padding-bottom: 60px;
  background-color: var(--basic-gray);
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-blue);
}

.header__usermenu {
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
}

.header__usermenu .wrapper {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.header__search {
  width: 270px;
  margin: 0;
  padding: 12px 15px 10px 42px;
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
  border: none;
}

.header__search::placeholder {
  color: var(--basic-white);
}

.header__form_search {
  position: relative;
}

.header__form_search svg {
  position: absolute;
  top: 12px;
  left: 16px;
  margin-right: 8px;
  fill: var(--basic-white);
  opacity: 0.3;
}

.header__form_search:hover svg {
  opacity: 1;
}

.header__search:focus {
  background-color: var(--basic-white);
  color: black;
}

.header__search:focus::placeholder {
  color: var(--basic-black);
}

.header__search:focus ~ svg {
  opacity: 1;
  fill: var(--basic-red);
}

.header__buy,
.header__navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__buy {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content max-content;
}

.header__buy a {
  display: block;
  padding: 9px 20px 9px 43px;
}

.header__buy a,
.header__navigation a {
  color: var(--basic-white);
  text-decoration: none;
}

.header__buy_arrange a {
  padding: 9px 16px 9px 19px;
  background-color: var(--basic-green);
}

.header__buy_arrange a:hover {
  background-color: var(--hover-green);
}

.header__buy a:active {
  color: var(--active-buy);
}

.header__buy_bookmarks a {
  position: relative;
  padding-right: 24px;
}

.header__buy_bookmarks:active a {
  background-color: var(--active-black);
}

.header__buy_bookmarks a::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url('../img/icon-bookmark.svg');
  opacity: 0.3;
}

.header__buy_card a {
  position: relative;
  padding-left: 49px;
  padding-right: 26px;
}

.header__buy_card a::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 26px;
  width: 15px;
  height: 15px;
  background-image: url('../img/icon-cart.svg');
  opacity: 0.3;
}

.product {
  margin-left: 14px;
  background-color: var(--basic-red);
}

.product a {
  padding: 9px 21px 9px 35px;
}

.header__buy_card.product a::before {
  left: 13px;
}

.header__buy_bookmarks:hover a::before,
.header__buy_card:hover a::before {
  opacity: 1;
}

.header__buy_bookmarks:active a::before,
.header__buy_card:active a::before {
  opacity: 0.3;
}

.header__buy_arrange a:active {
  background-color: var(--basic-green);
}

.header__info {
  display: grid;
  grid-template-columns: 1fr 2fr min-content;
  align-items: self-start;
  margin-top: 46px;
  margin-bottom: 43px;
}

.header__text {
  min-width: 225px;
  margin: 0;
  padding-left: 30px;
  padding-right: 16px;
  justify-self: center;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header__contacts {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone {
  padding: 4px 42px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--basic-white);
}

.header__phone a {
  position: relative;
  padding-left: 29px;
  color: var(--basic-red);
  text-decoration: none;
}

.header__phone a::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -5px;
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-phone.svg');
}

.header__contacts p {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

.header__user {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 300px;
}

.header__login, 
.header__reg,
.user {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
}

.header__login svg {
  padding-right: 5px;
  fill: var(--active-gray);
}

.header__login:hover svg,
.user__name:hover svg {
  fill: var(--icon-blue);
}

.header__login:active svg,
.user__name:active svg {
  fill: var(--active-gray);
}

.user a {
  text-decoration: none;
}

.header__reg {
  padding: 12px 25px;
}

.header__login {
  margin-right: 10px;
  margin-left: 15px;
  padding: 12px 25px 12px 19px;
}

.user__link {
  margin-top: 7px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  text-decoration: none;
}

.user__link:first-of-type {
  position: relative;
  margin-right: 30px;
}

.user__link:first-of-type::before {
  position: absolute;
  content: '';
  top: 7px;
  right: -16px;
  width: 4px;
  height: 4px;
  background-color: var(--basic-blue);
  border-radius: 50%;
}

.user__link:hover::before {
  background-color: var(--basic-red);
}


.user__link:active::before {
  background-color: var(--active-gray);
}

.user {
  display: flex;
  min-width: 190px;
  padding: 12px 14px 12px 14px;
}

.user__name {
  margin-right: 20px;
  color: var(--basic-black);
}

.user__name svg {
  padding-right: 21px;
  fill: var(--active-gray);
}

.header__logout,
.header__logout:active {
  fill: var(--active-gray);
}

.header__login:hover, 
.header__reg:hover,
.user__link:hover {
  color: var(--basic-red);
}

.header__logout:hover {
  fill: var(--icon-blue);
}

.header__login:active, 
.header__reg:active,
.user__name:active,
.user__link:active {
  color: var(--active-gray);
}

.header__navigation {
  padding-left: 25px;
  padding-right: 25px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  box-shadow: inset 0px -5px 0px var(--basic-blue-dark);
}

.header__navigation a:hover {
  background-color: var(--basic-blue-dark);
}

.header__navigation a:active {
  background-color: var(--active-blue);
  color: var(--active-buy);
}

.header__navigation ul {
  display: flex;
  flex-wrap: wrap;
}

.header__navigation a {
  display: block;
  padding: 15px 28px 20px 28px;
}

/* promo */

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-top: 60px;
}

.promo__item {
  position: relative;
  min-height: 75px;
  padding: 21px 108px 22px 23px;
  overflow: hidden;
}

.promo__item::before {
  content: '';
  position: absolute;
  top: 31px;
  right: 43px;
}

.promo__item:first-of-type,
.promo__item:nth-of-type(4n+1) {
  background-color: var(--basic-orange);
}

.promo__item:first-of-type::before,
.promo__item:nth-of-type(4n+1)::before {
  width: 44px;
  height: 65px;
  background-image: url(../img/icon-1.svg);
  
}

.promo__item:nth-of-type(4n+2) {
  background-color: var(--basic-blue-light);
}

.promo__item:nth-of-type(4n+2)::before {
  width: 75px;
  height: 61px;
  right: 30px;
  background-image: url(../img/icon-2.svg);
}

.promo__item:nth-of-type(4n+3) {
  background-color: var(--basic-violet);
}

.promo__item:nth-of-type(4n+3)::before {
  width: 78px;
  height: 62px;
  right: 30px;
  background-image: url(../img/icon-3.svg);
}

.promo__item:nth-of-type(4n+4) {
  background-color: var(--basic-green-light);
}

.promo__item:nth-of-type(4n+4)::before {
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  background-image: url(../img/icon-4.svg);
}

.promo__item:nth-of-type(5)::before {
  width: 78px;
  height: 63px;
  right: 31px;
  background-image: url(../img/icon-5.svg);
}

.promo__item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo__item .promo__button {
  display: block;
  width: 135px;
  padding: 10px 0px;
  background-color: var(--background--promo);
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-decoration: none;
}

.promo__button:hover {
background-color: var(--hover-promo);
}

.promo__button:active {
  background-color: var(--active-promo);
  }

.promo__sliderwrap {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  background-color: var(--background-slider);
}

.button__last,.button__next {
  position: absolute;
  top: 125px;
  width: 29px;
  height: 29px;
  background-color: transparent;
  border: 3px solid var(--basic-white);
  border-top: 0;
  border-right: 0;
  z-index: 5;
}

.button__last {
left: 25px;
transform: rotate(45deg);
}

.button__next {
  right: 21px;
  transform: rotate(-135deg);
}

.promo__slider_dots {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 5;
}

.promo__slider_dots .active {
  background-color: var(--basic-red);
}

.promo__slider_dots button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.promo__slider_dots button:not(:last-child) {
  margin-right: 10px;
}

.promo__slider {
  display: none;
  position: relative;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  color: var(--basic-white);
  z-index: 1;
}

.promo__slider::before {
  content: '';
  position: absolute;
  width: 620px;
  height: 266px;
  z-index: -1;
}

.promo__slider:nth-of-type(1)::before {
  background-image: url(../img/slider-1.jpg);
}

.promo__slider:nth-of-type(2)::before {
  background-image: url(../img/slider-2.jpg);
}

.promo__slider_button {
  display: inline-block;
  margin-top: 97px;
  margin-left: 24px;
}

.promo__slider span {
  display: block;
  padding: 23px 23px 6px 24px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo__slider p {
  margin: 0;
  padding: 0 24px 16px 24px;
  font-size: 18px;
  line-height: 24px;
}

.promo__slider .button {
  display: inline-block;
  padding: 10px 46px;
}

.promo__slider_show {
  display: block;
}

/* popular and catalog */

.popular {
  margin-bottom: 70px;
}

.popular__list,
.catalog__list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
}

.catalog__list {
  grid-template-columns: 1fr 1fr 1fr;
}

.popular__item,
.catalog__item {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
  overflow: hidden;
}

.popular__item:hover,
.catalog__item:hover {
  box-shadow: 0px 4px 20px var(--partners-shadow);
}

.catalog__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 178px;
}

.catalog__img img {
  margin: -10px 8px 0 0;
}

.popular__item:hover .catalog__img,
.catalog__item:hover .catalog__img {
  opacity: 0;
}

.button__buy {
  position: absolute;
  top: 38px;
  padding: 10px 40px 9px 53px;
  margin: 0 40px 48px;
  text-align: center;
  background-color: var(--basic-green);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--shadow-buy);
  box-sizing: border-box;
  opacity: 0;
}


.popular__item:hover .button__buy,
.catalog__item:hover .button__buy  {
  opacity: 1;
}

.button__buy::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  opacity: 0.5;
}

.button__buy:hover {
  background-color: var(--hover-green);
}

.button__buy:active {
  background-color: var(--active-green);
}

.button__bookmarks {
  position: absolute;
  top: 85px;
  margin: 0 40px 48px;
  padding: 8px 31px 6px 30px;
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  box-sizing: border-box;
  opacity: 0;
}

.popular__item:hover .button__bookmarks,
.catalog__item:hover .button__bookmarks {
  opacity: 1;
}

.button__bookmarks:hover {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 3px solid var(--basic-blue);
}

.button__bookmarks:active {
  background-color: var(--basic-white);
  color: var(--dark-gray);
  border: 3px solid var(--dark-gray);
}

.popular__title,
.catalog__title {
  margin: 0 17px 7px 17px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog__oldprice {
  margin: 0 0 14px 0;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-gray);
  text-decoration: line-through;
}

.button__price {
  position: relative;
  margin: auto 52px 21px 43px;
  padding: 10px 23px 10px 29px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  border-radius: 3px 0px 0px 3px;
}

.button__price::before {
  content: '';
  position: absolute;
  right: -39px;
  bottom: 0px;
  border: 19px solid transparent;
  border-left: 20px solid var(--basic-red) ;
}

.button__price:hover::before {
  border-left: 20px solid var(--hover-red);
}

.button__price:active::before {
  border-left: 20px solid var(--active-red);
}

/* producer */

.producer__list {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding-bottom: 70px;
}

.producer__item {
  display: flex;
  min-width: 220px;
  min-height: 145px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-gray);
  box-sizing: border-box;
}

.producer__item:hover {
  box-shadow: 0px 4px 20px var(--partners-shadow);
}

.producer__item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px var(--partners-shadow);
}


/* services */

.services {
  background-color: var(--basic-gray);
  padding-bottom: 98px;
}

.services h2 {
  padding-top: 65px;
  margin-bottom: 25px;
  color: var(--basic-black);
}

.services p {
  max-width: 400px;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

.services__slider {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.services ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services ul::before {
  content: '';
  position: absolute;
  top: -43px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/line.png);
}

.button__services {
  display: block;
  min-width: 240px;
  padding: 14px 0 18px 22px;
  background-color: var(--basic-blue);
  border: none;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  box-shadow: 0px -1px 0px var(--basic-blue-dark) , inset 0px 1px 0px var(--service-button) ;
}

.button__services:hover {
  background-color: var(--basic-blue-dark);
}

.button__services.active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  box-shadow: none;
}

.services__item {
  display: none;
  margin-left: 80px;
  max-width: 315px;
}

.services__item.active {
  display: block;
}

.services__item:nth-of-type(1)::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 0;
  width: 468px;
  height: 261px;
  background-image: url(../img/delivery.png);
}

.services__item:nth-of-type(2)::before {
  content: '';
  position: absolute;
  top: 14px;
  right: -80px;
  width: 468px;
  height: 261px;
  background-image: url(../img/guarantee.png);
}

.services__item:nth-of-type(3)::before {
  content: '';
  position: absolute;
  top: 14px;
  right: 0;
  width: 468px;
  height: 261px;
  background-image: url(../img/credit.png);
}

.services__item h3 {
  margin-bottom: 30px;
}

.services__item p {
  margin: 0;
}

.services .button {
  display: block;
  width: 195px;
  padding: 10px 0px;
  text-align: center;
  margin-top: 25px;
}

/* about and contacts */

.about {
  padding-bottom: 71px;
}

.about h2,
.contacts h2 {
  margin-top: 70px;
  margin-bottom: 25px;
  color: var(--basic-black);
}

.about p,
.contacts p {
  margin: 0;
  padding: 0;
}

.about p {
  max-width: 460px;
}

.about p:nth-of-type(2) {
  margin-top: 24px;
}

.about__list {
  margin: 4px 0 20px 0;
  padding: 0;
  list-style: none;
}

.about__item {
  position: relative;
  padding: 0 0 11px 40px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.about__item:last-child {
  padding-bottom: 0;
}

.about__item::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about .button {
  display: block;
  max-width: 220px;
  padding: 10px 0px;
  text-align: center;
}

.contacts {
  max-width: 300px;
  justify-self: self-end;
}

.contacts p {
  margin-bottom: 30px;
}

.contacts__map {
  display: block;
  margin-bottom: 20px;
}

.contacts .button {
  display: block;
  padding: 10px 0px;
  text-align: center;
}

/* footer */

.footer {
  background-color: var(--basic-blue);
}

.footer__info {
  display: grid;
  grid-template-columns: max-content 2fr;
  grid-template-rows: 1fr min-content;
  padding-bottom: 52px;
}

.footer__logo {
  min-height: 68px;
}

.footer p,
.footer__phone {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-neutral);
  text-decoration: none;
}

.footer__info p {
  grid-row: 2;
  max-width: 330px;
  margin: 25px 0 0 0;
  padding: 0;
}

.footer__navigation {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  margin-top: 3px;
}

.footer__navigation_categories {
  margin-top: -5px;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer__navigation ul,
.footer__navigation_categories ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__navigation a {
  color: var(--basic-gray);
  text-decoration: none;
}

.footer__navigation_categories a {
  color: var(--text-orange);
  text-decoration: none;
}

.footer__navigation a:hover {
  text-decoration: underline;
}

.footer__navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer__navigation_item {
  padding-top: 35px;
  padding-left: 60px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer__navigation_item:first-child {
  padding-left: 0px;
}

.footer__links {
  background-color: var(--basic-blue-dark);
}

.footer__links .wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 29px;
}

.footer__links p {
  margin: 0;
  max-width: 227px;
  min-width: 110px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social {
  display: flex;
  justify-content: center;
  min-width: 410px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item a {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 1px;
  color: var(--basic-white);
  text-decoration: none;
}


.social__item a::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social__item:nth-of-type(1) {
  margin-left: 50px;
}

.social__item:nth-of-type(1) a::before {
  background: var(--social-button) url(../img/icon-vk.svg) center no-repeat;
}

.social__item:nth-of-type(2) a::before {
  background: var(--social-button) url(../img/icon-fb.svg) center no-repeat;
}

.social__item:nth-of-type(3) a::before {
  background: var(--social-button) url(../img/icon-insta.svg) center no-repeat;
}

.social__item a:hover::before,
.social__item a:active::before {
  background-color: var(--basic-red);
}

.footer__link {
  color: var(--text-orange);
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* catalog */

.breadcrumbs,
.breadcrumbs a {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs li {
  position: relative;
  padding-right: 41px;
}

.breadcrumbs li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 16px;
  width: 8px;
  height: 12px;
  background-image: url('../img/icon-right-small.svg');

}

.filters {
  min-width: 220px;
}

.filters__form legend {
  margin-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filters__title {
  margin-bottom: 14px;
  padding: 10px 20px;
  background-color: var(--basic-neutral-dark);
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.filters__item {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--pagination-basic);
}

.filters__range {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 80px;
  background-color: var(--basic-neutral-dark);
  border-radius: 3px;
}

.filters__scale {
  width: 180px;
  height: 2px;
  background-color: var(--filter-line);
}

.filters__bar {
  width: 80%;
  height: 2px;
  background-color: var(--filter-line-green);
}

.filters__range .toggle {
  position: absolute;
  top: 29px;
  width: 4px;
  height: 4px;
  padding: 2px;
  background-color: var(--filter-toggle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--filter-toggle-shadow);
  cursor: pointer;
}

.filters .toggle__min {
  left: 17px;
}

.filters .toggle__max {
  left: 160px;
}

.filters__controls {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 9px 0 25px 0;
}

.filters__controls span {
  font-size: 16px;
  line-height: 18px;
}

.filters__controls input {
  width: 61px;
  padding: 9px 17px 10px 17px;
  background-color: var(--basic-neutral-dark);
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
}

.filters__brands legend {
  padding-top: 15px;
  margin-bottom: 17px;
}

.filters__power {
  border: none;
}

.filters__brands ul,
.filters__power ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 24px;
}

.filters__brands li,
.filters__power li {
  padding-left: 35px;
  margin-bottom: 15px;
}

.filters__brands label,
.filters__power label {
  position: relative;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.filter__input_checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--active-gray);
  border-radius: 2px;
}

.filter__input_checkbox:checked + label::before {
  border: none;
}

.filter__input_checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__input:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.filter__input_checkbox:checked + label::before {
  outline: none;
}

.filter__input_checkbox:checked:focus + label::after {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -4px;
}

.filters__power legend {
  padding-top: 17px;
  margin-bottom: 23px;
}

.filters__power li {
  margin-bottom: 17px;
}

.filter__input_radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--active-gray);
  border-radius: 50%;
}

.filter__input_radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--active-gray);
  border-radius: 50%;
}

.filter__button {
  margin-top: 9px;
  width: 100%;
  height: 38px;
  background-color: transparent;
  border: 1px solid var(--pagination-basic);
  box-sizing: border-box;
  text-transform: uppercase;
}

.filter__button:hover {
  border: 1px solid var(--active-gray);
}

.filter__button:active {
  border: 1px solid var(--basic-red);
}

.catalog__sort {
  display: flex;
  margin-bottom: 25px;
  padding: 10px 14px 10px 20px;
  background-color: var(--basic-neutral-dark);
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.sort__list,
.arrow__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort__list li,
.arrow__list li{
  display: flex;
  align-items: center;
}

.arrow__item:first-child {
  margin-right: 21px;
}

.sort__item a {
text-decoration: none;
}

.sort__item:first-child {
  margin-right: 140px;
}

.sort__item:nth-child(2) {
  margin-right: 70px;

}

.sort__item:nth-child(3) {
  margin-right: 65px;
}

.sort__item:nth-child(2) a,
.sort__item:nth-child(3) a,
.sort__item:nth-child(4) a {
  color: var(--sort-text);
  border-bottom: 1px dotted var(--basic-red);
}

.sort__item:nth-child(2):hover a,
.sort__item:nth-child(3):hover a,
.sort__item:nth-child(4):hover a {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort__item:nth-child(4) {
  margin-right: 45px;
}

.sort__item:nth-child(5) {
  margin-right: 16px;
}

.sort__item.active a {
  color: var(--basic-red);
  border-bottom: 1px solid transparent;
}

.sort__arrow_up,
.sort__arrow_down {
  padding: 0;
  background-color: transparent;
  border: 6px solid transparent;
}

.sort__arrow_up {
  border-top: 0;
  border-bottom: 10px solid var(--active-gray);
}

.sort__arrow_up:hover {
  border-bottom: 10px solid var(--basic-black);
}

.sort__arrow_up.active {
  border-bottom: 10px solid var(--basic-red);
}

.sort__arrow_down {
  border-top: 10px solid var(--active-gray);
  border-bottom: 0;
}

.sort__arrow_down:hover {
  border-top: 10px solid var(--basic-black);
}

.sort__arrow_down.active {
  border-top: 10px solid var(--basic-red);
}

.pagination__list {
  display: flex;
  margin: 0;
  margin-top: 44px;
  margin-bottom: 58px;
  padding: 0;
  list-style: none;
}

.pagination__item a {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-black);
  border: 1px solid var(--pagination-basic);
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination__item a:hover {
  border: 1px solid var(--active-gray);
}

.pagination__item a:active {
  border: 1px solid var(--basic-red);
}

.pagination__item.active a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
}

.pagination__item:last-child a {
  padding: 10px 32px 10px 30px;
  text-transform: uppercase;
}

.info {
  padding-top: 65px;
  padding-bottom: 69px;
  background-color: var(--basic-gray);
}

.info h2 {
  margin-bottom: 25px;
  color: var(--basic-black);
}

.info p {
  margin: 0;
  padding: 0;
}